<h1>Wirte Your Commnet</h1>

<%= form_for @comment do |f| %>
<div>
  <%= f.label :body %> <br>
  <%= f.text_area :body %>
</div>
<div>
  <%= f.collection_select :category_id, Category.all, :id, :name %>
</div>
<%= f.submit %>
<% end %>
