<h1>Change Your Password</h1>

<%= @user.errors.full_messages.join(", ") %>
<%= form_for @user do |f| %>
<div>
<%= f.label :current_password %> <br>
<%= f.password_field :current_password %>
</div>

<div>
New Password <br>
<%= f.password_field :password %>
</div>
<div>
Confirm Your Password <br>
<%= f.password_field :password_confirmation %>
</div>
<%= f.submit "Change Password" %>
<% end %>
