
<h1><%= @blog.title %></h1>
<p class="post_body"><%= @blog.body %></p>
<p>Created By: <%= @blog.user.full_name if @blog.user %></p>
<p>Tags: <%= @blog.tags.map {|t| t.title.capitalize }.join(", ") %></p>
<%= image_tag @blog.image.url(:medium) %>
<% if user_signed_in? %>
  <div class="fav-form">
    <%= render 'favourites/favform'%>
  </div>
    <p>
   <%= "your ratings #{current_user.stars.where(post_id: @blog).first.ratings}" if current_user.stars.where(post_id: @blog).first%>
    </p>

    <% if @blog.stared_by?(current_user) %>
        <%= link_to "1",     post_star_path(@blog, current_user_star, {star: {ratings: 1}}),
                               method: :patch %>
        <%= link_to "2",     post_star_path(@blog, current_user_star, {star: {ratings: 2}}),
                               method: :patch %>
        <%= link_to "3",     post_star_path(@blog, current_user_star, {star: {ratings: 3}}),
                               method: :patch %>
        <%= link_to "4",     post_star_path(@blog, current_user_star, {star: {ratings: 4}}),
                               method: :patch %>
        <%= link_to "5",     post_star_path(@blog, current_user_star, {star: {ratings: 5}}),
                               method: :patch %>
        <%= link_to "Clear", post_star_path(@blog, current_user_star),
                               method: :delete,
                               data: {disable_with: "..."}%>
    <% else %>
        <%= link_to "1", post_stars_path(@blog, star:{ratings: 1}), method: :post%>
        <%= link_to "2", post_stars_path(@blog, star:{ratings: 2}), method: :post%>
        <%= link_to "3", post_stars_path(@blog, star:{ratings: 3}), method: :post%>
        <%= link_to "4", post_stars_path(@blog, star:{ratings: 4}), method: :post%>
        <%= link_to "5", post_stars_path(@blog, star:{ratings: 5}), method: :post%>
    <% end %>
    <% if can? :manage, @blog%>
        <%= link_to "Edit", edit_post_path( @blog) %>
        <%= link_to "Delete", post_path(@blog),
                              method: :delete,
                              data: {confirm: "Are you sure?"} %><br>
    <% end %>

    <div id="commnet-form">
          <%= render "comments/comform" %>
    </div>

<% end %>

<h2>Comments</h2>
<div>

  <div id="comments">
    <% @blog.new_first_comment.each do |comment| %>
    <%= render "/comments/comment", comment: comment %>
    <% end %>
  </div>

  <hr>

</div>
