<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
   <nav class="navbar navbar-light bg-orange navbar-fixed-top">
    <ul class="nav navbar-nav">
     <li><a class="item" href="/">HOME</a>      </li>
     <li><a class="item" href="/about">About</a></li>
     <li><a class="item" href="/posts">Blogs</a></li>
     <li>
     <%= form_tag home_path do  %>
     <%= text_field_tag :word, params[:word] %>
     <%= submit_tag "Search" %>
     <% end %>
     </li>
    </ul>
    <ul class="nav navbar-nav pull-right">

       <% if session[:user_id] %>
       <li><%= link_to "Fave Posts", favourites_path %></li>
        <li><%= link_to "#{current_user.first_name}", user_path(current_user) %> </li>
       <li><%= link_to "sign out", sessions_path, method: :delete %></li>
       <% else %>
        <li><a href="/users/new"> Sign Up</a></li>
       <li><%= link_to "Sign In", new_session_path %></li>
       <% end %>
  </ul>

    <% if flash[:notice] %>
    <div class="flash-notice"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
    <div class="flash-alert"><%= flash[:alert] %></div>
    <% end %>
   </nav>

<br>
<br>
<br>
<%= yield %>

</body>
</html>
